.navmenuline-container,
.navmenuline-menu {
    height: 70px;
    width: 80px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 5%;
    right: 40px;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .navmenuline-container,
    .navmenuline-menu {
        right: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .navmenuline-container,
    .navmenuline-menu {
        right: 25px;
    }
}

@media screen and (max-width: 1150px) {
    .navmenuline-container,
    .navmenuline-menu {
        right: 17px;
    }
}

@media screen and (max-width: 768px) {
    .navmenuline-container,
    .navmenuline-menu {
        right: 9px;
    }
}

/* @media screen and (max-width: 375px) {
    .navmenuline-container,
    .navmenuline-menu {
        right: 9px;
        bottom: 0.4%;
    }
} */

.navmenuline-menu {
    transform: scale(0.9);
    position: fixed;
    z-index: 0;
}

.navmenuline-container {
    position: fixed;
    z-index: 1;
}

.navmenuline-toggle {
    height: 0;
    width: 40px;
    border-bottom: 35px solid var(--dark-blue);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 0;
}

.navmenuline-toggle:before {
    content: '';
    height: 0;
    width: 40px;
    border-top: 35px solid var(--dark-blue);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 34px;
    left: -20px;
}

.navmenuline-item {
    height: 0;
    width: 40px;
    border-bottom: 35px solid var(--second-color);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 0;
    transition: 1s;
}

.navmenuline-item:before {
    content: '';
    height: 0;
    width: 40px;
    border-top: 35px solid var(--second-color);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 35px;
    left: -20px;
}

#navmenuline-add {
    font-size: 50px;
    color: var(--second-color);
    position: relative;
    top: 10px;
    right: 5px;
}

a>.navmenuline-react-icons {
    color: var(--dark-blue);
    font-size: 30px;
    position: relative;
    left: 5px;
}

a>.navmenuline-react-icons-navmenu-theme {
    color: var(--dark-blue);
    font-size: 30px;
    position: relative;
    left: -7px;
}

a>.navmenuline-react-icons:hover {
    color: var(--dark-blue);
}

.navmenuline-icons-hover:hover {
    transition: 1s;
    transform: scale(1.5);
}

.navmenuline-icons-hover {
    transition: 1s;
    transform: scale(1);
}