:root {
  --main-color: #F6F6F6;
  --second-color: #FFFFFF;
  --whitesmoke-color: whitesmoke;
  
  --pearl-grey : #C4C4C4;
  --grey-color: gray;
  --dark-grey: #999;
  --light-grey: #E5E5E5;

  --dark-blue: #16213e;
  --light-blue: #0f3460;
  --black-color: black;
}

body {
  padding: 0;
  margin: 0;
}

.App{
  overflow: hidden;
}
